/Back/Java/New Folder/MegaSena/target/
/Back/Java/TesteExecutavel/TesteExecutavel/nbproject/private/
/Back/Java/TesteExecutavel/TesteExecutavel/build/
/Back/Java/TesteExecutavel/TesteExecutavel/dist/
/Back/Java/MegaSena1/target/
/Back/Java/MegaSena/MegaSena/nbproject/private/
/Back/Java/MegaSena/MegaSena/build/
/Back/Java/MegaSena/MegaSena/dist/
/Back/Java/MegaSena/nbproject/private/
/Back/Java/MegaSena/build/
/Back/Java/MegaSena/dist/
/Back/Java/EditorTexto/nbproject/private/
/Back/Java/EditorTexto/build/
/Back/Java/EditorTexto/dist/
/Back/Java/HelloWorldJavaFX/nbproject/private/
/Back/Java/HelloWorldJavaFX/build/
/Back/Java/HelloWorldJavaFX/dist/
/Back/Java/TesteJavaFX/nbproject/private/
/Back/Java/TesteJavaFX/build/
/Back/Java/TesteJavaFX/dist/
/Back/Java/TesteJava/nbproject/private/
/Back/Java/TesteJava/build/
/Back/Java/TesteJava/dist/
/Back/Java/HelloWorld/nbproject/private/
/Back/Java/HelloWorld/build/
/Back/Java/HelloWorld/dist/
/Back/Java/Calculator/nbproject/private/
