.divEsquerda{
    margin-top: 100px;
    border: 30;
    float: right;
    position: absolute;
    top:300px;    
    width: 48%;
    margin-right: 5px;
    align-items: left;
}
.divDireita{
    margin-top: 100px;
    border: 30;
    float: right;
    position: absolute;
    top: 300px;    
    width: 48%;
    margin-left: 5px;
    align-items: right;
}