    <h1>    
    <p id="Titulo">
      <span>{{ title }} app is running!</span>        
    </p> 
    <hr>    
  </h1>
  <section>
    <article>
      <h3>Class e Style Binding </h3>
      <div>
        Selecione uma Classe:
        <select name="classe" id="classe">
          <option value="alert alert-success">Sucesso</option>
          <option value="alert alert-danger">Erro</option>
          <option value="alert alert-warning">Info</option>          
        </select>                
      </div>
    </article>
  </section>    

    