<title>Teste</title>
<head>
<style>   
    .centro{
        align-content: center;
        text-align: center;
    }
    .rodape{
        position: absolute;
        bottom: 0px;   
        margin-left: 45%;     
        margin-right: auto;
    }
</style>  
</head>   
<h1 class="centro">Meu Primeiro Componente</h1>
<div class="centro">
<h2>{{title}}</h2>
</div>
<div>
   <!-- <button id="btnTExto" {click="AlterarTexto()"}></button>-->
   <button (click)="alterarTexto();">Alterar</button>
</div>
<div>
    <ul>
        <li *ngFor="let todo of Todos">
            {{ todo.id }}.{{ todo.title}}   |
            <button *ngIf="!todo.done" (click) = "markAsDone(todo)">Concluir</button>|
            <button *ngIf="todo.done"  (click) = "markAsUndone(todo)">Refazer</button>|
            <button (click) = "remove(todo)">Remover</button>
        </li>        
    </ul>
</div>
<div>
    <form [formGroup] = "form">
        <fieldset>
            <label for="txtTitulo">Tarefa</label><br> 
            <input type="text"  
                placeholder="Digite a Tarefa"
                id="txtTitulo" 
                maxlength="50"                 
                formControlName="title"
                
            ><button>Salvar</button>
        </fieldset>
    </form>
</div>


<div class="rodape">        
    <h2>TarSoftwares</h2>
</div>